/* ~~~ Headings ~~~ */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ~~~ Body ~~~ */
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



html {
    font-size: 62.5%;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-size: var(--TitlesSize);
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--DefaultFontSize);
    color: var(--NeutralDark);
}

/* ~~ Header ~~ Stylization  */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--DefaultMargin);
    height: 20vh;
}

#header .header-button {
    background-color: #fff;
    color: var(--DarkButton);
    padding: 0.7rem 3rem;
    border: 0.1rem solid var(--DarkButton);
    border-radius: 2rem;
    box-shadow: 0 0 1.4rem -0.4rem var(--DarkButton);
}


/* ~~ Main content ~~ Stylization */
    /* GRID CONFIG */
    #hero {
        grid-area: hero;
    }
    #about {
        grid-area: about;
    }
    #build {
        grid-area: build;
    }
main {
    display: grid;
    grid-template-areas: 
        "hero hero"
        "about about"
        "about about"
        "about about"
        "build build"
        ;
    grid-template-columns: repeat(2, 1fr);
}


/* BUTTON */
.get-started-button {
    background-color: var(--DarkButton);
    color: #fff;
    font-weight: 700;
    padding: 2.5rem;
    width: 30rem;
    border-radius: 4rem;
    box-shadow: 0 1rem 2rem -1.2rem var(--NeutralDark);
}


/* ~~ HERO ~~ Stylization */
/* GRID CONFIG */
.section-content {
    grid-area: section-content;
}
    .mockup {
        grid-area: mockup;
    }
    .communities-section {
        grid-area: communities-section;
    }
    .messages-section {
        grid-area: messages-section;
    }
#hero {
    padding: 0 calc(var(--DefaultMargin) * 2);
    display: grid;
    grid-template-areas: 
    "section-content section-content"
    "mockup mockup"
    "communities-section messages-section"
    ;
    grid-template-columns: repeat(2, 1fr);
}
#hero .section-content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
    text-align: center;
}
#hero .section-content h1 {
    font-size: 4.8rem;
}
#hero .section-content p {
    max-width: 60rem;
    font-size: var(--HeroFontSize);
}

#hero .mockup {
    margin: 0 auto;
}
#hero .mockup img {
    width: 100%;
}

#hero .communities-section, 
#hero .messages-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 12rem 0;
}
#hero .communities-section span, 
#hero .messages-section span {
    font-size: 8rem;
    font-weight: 700;
}
#hero .communities-section p, 
#hero .messages-section p {
    opacity: 0.6;
}

#hero .communities-section span::before {
    content: '';
    display: block;
    background: url(../images/icon-communities.svg);
    width: 4.7rem;
    height: 4.1rem;
}
#hero .messages-section span::before {
    content: '';
    display: block;
    background: url(../images/icon-messages.svg);
    width: 4.8rem;
    height: 4rem;
}


/* ~~ About ~~ Stylization */
    /* GRID CONFIG */
    #about .section-content {
        grid-area: content;
    }
    #about .section-image {
        grid-area: image;
    }
#about #grow-together .container, 
#about #your-users .container {
    display: grid;
    grid-template-areas: 
        "content image"
        ;
        grid-template-columns: repeat(2, 50%);

    background-color: var(--NeutralLight);
}
#about #flowing-conversations .container {
    display: grid;
    grid-template-areas: 
    "image content"
    ;
    grid-template-columns: repeat(2, 50%);
    gap: 10rem;
    
    margin: 10rem 0;
}
#about .section-image img {
    width: 100%;
}
.section-top-pattern img,
.section-bottom-pattern img {
    width: 100%;
    display: block;
    background-color: #fff;
}
#about .container {
    padding: 3rem calc(var(--DefaultMargin) * 2);
} 
#about .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    max-width: 52rem;
}


/* ~~ Build ~~ Stylization */
#build {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    height: 50vh;
}