:root {
    /* ### Button */

    --Button: hsl(322, 100%, 66%);
    --Hover: hsl(321, 100%, 78%);
    --Confirmation: hsl(0, 100%, 63%);
    --MediaHover: hsl(180, 100%, 44%);

    /* ### Neutral */

    --NeutralDark: hsl(192, 100%, 9%);
    --NeutralLight: hsl(207, 100%, 98%);

    --DefaultMargin: 5%;

    --HeroFontSize: 2rem;
    --DefaultFontSize: 1.6rem;
    --TitlesSize: 4rem;

}