:root {
    /* ### Primary */

    --DarkButton: hsl(322, 100%, 66%);
    --LightButton: hsl(321, 100%, 78%);
    --Confirmation: hsl(0, 100%, 63%);

    /* ### Neutral */

    --NeutralDark: hsl(192, 100%, 9%);
    --NeutralLight: hsl(207, 100%, 98%);

    --DefaultMargin: 5%;

    --HeroFontSize: 2rem;
    --DefaultFontSize: 1.6rem;
    --TitlesSize: 4rem;
}